appdirs==1.4.0
certifi==2017.7.27.1
chardet==3.0.4
coreapi==2.3.1
coreschema==0.0.4
Django==1.10.2
django-cors-headers==2.0.2
django-post-office==2.0.8
djangorestframework==3.5.4
httplib2==0.10.3
idna==2.6
itypes==1.1.0
Jinja2==2.9.6
jsonfield==1.0.3
jsonpickle==0.9.4
MarkupSafe==1.0
oauth2==1.9.0.post1
oauth2client==4.0.0
packaging==16.8
Pillow==3.4.2
pkg-resources==0.0.0
pyasn1==0.2.2
pyasn1-modules==0.0.8
pyparsing==2.1.10
requests==2.18.4
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
urllib3==1.22
